$blackColor: #383838;
$marine-blue: #002570;

$spectroTecColor: #636363;
$spectroComColor: #599aa9;
$spectroLabColor: #008483;
$spectroCemColor: #1669ad;
$spectroPurColor: #883898;
$spectroMedColor: #6bc5d5;
$spectroSysColor: #b0c1e1;
$spectroMolColor: #24449d;