@import 'mixins';
@import 'variables';


@import url('https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: 'Muli', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.container {
  width: 100%;
  max-width: 1440px;
}

div.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
}


// HEADER

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #ececec;

  div.row {
    justify-content: space-between;
    align-items: center;
    padding-left: 66px;

    div.logo {
      width: 168px;

      img {
        width: 100%;
      }
    }

    div.menu-container {
      display: flex;
      align-items: center;

      nav#main-menu {
        ul {
          display: flex;

          li.menu-item {
            list-style-type: none;
            margin-right: 35px;

            a {
              font-size: 18px;
              line-height: 1.67;
              letter-spacing: 0.5px;
              color: #383838;
              text-transform: uppercase;
              text-decoration: none;
              @include transition-hover;

              &:hover {
                color: #24449d;
              }
            }

            a.active {
              font-weight: bold;
              border-bottom: 2px solid #383838;
              @include transition-hover;

              &:hover {
                border-bottom: 2px solid #24449d;
              }
            }
          }
        }
      }

      a.search-popup {
        display: block;
        padding: 35px;
        background-color: #ececec;
      }

      span.selected-language {
        display: flex;
        height: 100%;
        padding: 30px 22px;
        cursor: pointer;
        position: relative;

        p.language-name {
          font-size: 18px;
          line-height: 1.67;
          letter-spacing: 0.5px;
          color: #383838;
          margin-right: 11px;
        }

        ul.select-language {
          display: none;
          position: absolute;
          right: 0;
          top: 90px;
          width: 100%;
          background-color: #ffffff;
          z-index: 99;

          li {
            list-style-type: none;
            border-top: 1px solid #383838;
            cursor: default;
            text-align: center;

            &:last-child {
              border-bottom: 1px solid #383838;
            }

            a {
              display: block;
              padding: 15px;
              font-size: 18px;
              color: #383838;
              text-decoration: none;
              @include transition-hover;

              &:hover {
                background-color: #002570;
                color: #ffffff;
              }
            }
          }
        }

        &:hover {
          ul.select-language {
            display: block;
          }
        }
      }
    }

    div#menu-toggle {
      display: none;
      align-items: center;
      cursor: pointer;

      p.menu-name {
        font-size: 14px;
        font-weight: 600;
        line-height: 0.86;
        letter-spacing: 2.33px;
        text-transform: uppercase;
        margin-right: 9px;
        @include transition-hover;
      }
      
      div.lines {        
        span {
          display: block;
          width: 20px;
          height: 2px;
          background-color: #000000;
          margin-bottom: 6px;
          @include transition-hover;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:hover {
        p.menu-name {
          color: #002570;
        }
        
        div.lines {        
          span {
            background-color: #002570;
          }
        }
      }
    }
  }
}

div#search-modal {
  height: 100vh;
  color: #ffffff;
  padding: 100px 50px 50px 50px;

  div.row {
    align-items: center;

    form#header-search {
      input.search-input {
        width: 700px;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #ffffff;
        padding: 0 0 10px 10px;
        font-size: 35px;
        font-weight: bold;
        color: #ffffff;
        
        &::placeholder {
          color: #ffffff;
        }
      }
    }

    a.popup-modal-dismiss {
      font-size: 40px;
      text-decoration: none;
      color: #ffffff;
      @include transition-hover;

      &:hover {
        transform: rotate(360deg);
      }
    }
  }
}

div#mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  right: -100%;
  transition: right 0.25s;
  background-color: #ffffff;
  overflow: scroll;
  z-index: 998;

  &.opened {
    right: 0;
  }

  div.close-block {
    justify-content: flex-end;
    margin: 13px 17px 0 0;

    button.close-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 0.86;
      letter-spacing: 2.33px;
      text-transform: uppercase;

      img {
        width: 17px;
        margin-left: 9px;
      }
    }
  }

  nav.mobile-nav {
    margin: 64px 0 58px 0;

    ul {
      list-style-type: none;
      
      li.menu-item {
        text-align: center;
        margin-bottom: 32px;

        &:last-child {
          margin-bottom: 0;
        }

        a.menu-link {
          font-size: 20px;
          line-height: 1.6;
          letter-spacing: 1px;
          color: #383838;
          text-decoration: none;
          text-transform: uppercase;
          @include transition-hover;

          &.active-link {
            font-weight: bold;
          }

          &:hover {
            color: #002570;
          }
        }
      }
    }
  }

  div.bottom-buttons {
    display: flex;
    width: 100%;
    max-width: 550px;

    button#show-languages {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: #383838;
      border: 0;

      p.language-code {
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.5px;
        color: #ffffff;
        margin-right: 10px;
      }

      img.lang-arrow {
        width: 100%;
        max-width: 10px;
        transform: rotate(-90deg);
      }
    }
    
    a.search-popup {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 50px;
      background-color: #f3f4f5;

      img.glass {
        width: 19px;
      }
    }
  }
}

div#select-languages {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  left: -100%;
  transition: left 0.25s;
  padding: 13px 17px 30px 17px;
  background-color: #383833;
  overflow: scroll;
  color: #ffffff;
  z-index: 999;

  &.opened {
    left: 0;
  }

  div.close-block {
    justify-content: flex-start;

    button.close-button {
      display: flex;
      align-items: center;
      background-color: transparent;
      border: 0;
      font-size: 14px;
      font-weight: bold;
      line-height: 0.86;
      letter-spacing: 2.33px;
      color: #ffffff;
      text-transform: uppercase;

      img {
        width: 17px;
        margin-left: 9px;
      }
    }
  }

  div.languages-list {
    flex-direction: column;
    text-align: center;
    width: 100%;
    max-width: 550px;
    margin-top: 30px;

    a.language-link {
      font-size: 22px;
      color: #ffffff;
      text-decoration: none;
      margin-bottom: 20px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 1320px) {
  header div.row div.menu-container nav#main-menu ul li.menu-item {
    margin-right: 17px;
  }
  header div.row div.menu-container nav#main-menu ul li.menu-item a {
    font-size: 16px;
  }
}

@media screen and (max-width: 1150px) {
  header {
    div.row {
      padding: 10px 16px 10px 13px;
      
      div.menu-container {
        display: none;
      }

      div#menu-toggle {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  div#search-modal {
    padding: 50px 30px;
  
    div.row {
      form#header-search {
        width: 100%;
        padding-right: 30px;

        input.search-input {
          width: 100%;
          font-size: 25px;
        }
      }
  
      a.popup-modal-dismiss {
        font-size: 25px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  header {
    height: auto;
  
    div.row {
      div.logo img {
        width: 69px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  div#search-modal {
    padding: 50px 16px;

    div.row {
      form#header-search {
        input.search-input {
          font-size: 20px;
        }
      }
    }
  }
}

// CLOSE HEADER



// CONTACT US

section#contact-us {
  background-color: #002570;

  div#contact-text-block {
    display: none;
    padding: 70px 10px;

    &.active-block {
      display: block;
    }

    div.row {
      justify-content: center;
      align-items: center;

      p.title {
        font-size: 28px;
        line-height: 1.21;
        color: #ffffff;
        text-align: center;
        margin-right: 64px;

        span.bold {
          font-weight: bold;
        }
      }

      button.contact-link {
        @include standardButton(213px, #ffffff, #ffffff, #002570);

        &:hover {
          background-color: #002570;
          color: #ffffff;
        }
      }
    }
  }

  div#contact-form-block {
    display: none;
    padding: 83px 127px 84px 180px;
    color: #ffffff;

    &.active-block {
      display: flex;
    }

    div.text-block {
      width: 358px;
      min-width: 358px;
      margin-right: 129px;

      p.title {
        width: 226px;
        font-size: 28px;
        line-height: 1.21;
        margin-bottom: 50px;

        span.bold {
          font-weight: bold;
        }
      }

      p.text-info {
        font-size: 18px;
        line-height: 1.56;
      }
    }

    div.form-block {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-top: 9px;

      div.inputs {
        display: flex;
        margin-bottom: 46px;

        div.input-block {
          width: 300px;
          position: relative;
          margin-right: 43px;

          &:last-child {
            margin-right: 0;
          }
  
          p.placeholder {
            font-size: 16px;
            line-height: 1.38;
            color: #f3f4f5;
            opacity: 0.8;
            margin-bottom: 14px;
          }
  
          input.text-input {
            width: 100%;
            max-width: 300px;
            border: 0;
            border-bottom: 1px solid #ffffff;
            background-color: transparent;
            padding: 0 14px 13px 14px;
            font-size: 18px;
            font-weight: bold;
            line-height: 1.44;
            color: #ffffff;
          }
        }
      }

      div.privacy-policy {
        position: relative;
        margin: 4px 0;
        padding-left: 46px;

        input[type="checkbox"] {
          width: 0.1px;
          height: 0.1px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;

          + label {
            font-size: 18px;
            line-height: 1.33;
            color: rgba(243,244,245,0.8);
            cursor: pointer;
            @include transition-hover;

            &::before {
              content: '';
              width: 32px;
              height: 32px;
              border: 1px solid rgba(243,244,245,0.8);
              border-radius: 3px;
              position: absolute;
              top: -5px;
              left: 0;
              @include transition-hover;
            }

            &::after {
              content: '\2713';
              font-size: 25px;
              width: 32px;
              height: 32px;
              position: absolute;
              color: #ffffff;
              top: -4px;
              left: 7px;
              opacity: 0;
              @include transition-hover;
            }

            &:hover {
              color: rgba(243,244,245,1);
            }
          }

          &:checked {
            + label {
              &::after {
                opacity: 1;
              }
            }
          }
        }

        a.privacy-link {
          font-size: 18px;
          font-weight: 600;
          line-height: 1.33;
          color: rgba(243,244,245,0.8);

          &:hover {
            color: rgba(243,244,245,1);
          }
        }
      }

      button.send-form {
        @include standardButton(150px, #ffffff, #ffffff, #383838);
        margin-top: 46px;

        &:hover {
          background-color: #002570;
          border: 1px solid #ffffff;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  section#contact-us {
    div#contact-form-block {
      padding: 83px 50px 84px 50px;
      div.text-block {
        margin-right: 50px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  section#contact-us {
    div#contact-form-block {
      flex-direction: column;

      div.text-block {
        width: 100%;
        min-width: 100%;
        margin-right: 0;
      }

      div.form-block {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width: 870px) {
  section#contact-us {
    background-color: #002570;
  
    div#contact-text-block {
      padding: 70px 10px;
  
      div.row {
        flex-direction: column;

        p.title {
          margin: 0;
        }

        button.contact-link {
          margin-top: 27px;
        }
      }
    }
  }
}

@media screen and (max-width: 750px) {
  section#contact-us {
    div#contact-form-block {
      div.form-block {
        div.inputs {
          flex-direction: column;
          margin-bottom: 0;

          div.input-block {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  section#contact-us {
    div#contact-text-block {
      padding: 74px 16px;

      div.row {
        p.title {
          font-size: 22px;
          line-height: 1.36;
        }

        button.contact-link {
          width: 226px;
        }
      }
    }

    div#contact-form-block {
      padding: 62px 16px 94px 16px;

      div.text-block {
        p.title {
          font-size: 28px;
          line-height: 1.21;
          margin-bottom: 32px;
        }

        p.text-info {
          font-size: 16px;
          line-height: 1.63;
        }
      }

      div.form-block {
        margin-top: 65px;

        div.inputs {
          flex-direction: column;
          margin-bottom: 0;

          div.input-block {
            width: 100%;
            margin: 0 0 40px 0;
          }
        }

        button.send-form {
          width: 100%;
          margin-top: 40px;
        }
      }
    }
  }
}

// CLOSE CONTACT US



// FOOTER

footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f4f5;

  div.container {
    padding: 47px 180px 27px 180px;
    
    div.top {
      flex-direction: column;
      p.company-name {
        font-size: 28px;
        font-weight: bold;
        line-height: 1;
        letter-spacing: 1.62px;
        color: #383838;
      }
      p.company-slogan {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #383838;
        margin-top: 3px;
      }
    }

    div.center {
      padding-bottom: 40px;
      border-bottom: 1px solid #bbbbbb;
      
      div.column {
        display: flex;
        flex-direction: column;
      }

      div.contacts {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: -10px;

        div.contact {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 175px;
          margin-bottom: 20px;

          p {
            font-size: 15px;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: 1px;
            color: #383838;
          }
        }

        a.log-in-link  {
          @include standardButton(226px, transparent, #383838, #383838);
          margin-top: 38px;

          &:hover {
            background-color: #002570;
            color: #ffffff;
          }
        }
      }

      div.links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div.links-list {
          nav.footer-menu {
            ul {
              li.menu-item {
                margin-bottom: 23px;
                list-style-type: none;
  
                a {
                  font-size: 14px;
                  font-weight: bold;
                  line-height: 1.57;
                  letter-spacing: 2px;
                  color: #383838;
                  text-decoration: none;
                  text-transform: uppercase;
  
                  &:hover {
                    text-decoration: underline;
                  }
                }
  
                &:last-child {
                  margin-bottom: 0;
                }
              }
            }
          }

          &:first-child {
            margin-right: 100px;
          }
        }
      }

      div.social-media {
        width: 203px;
        
        p.title {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.57;
          letter-spacing: 2px;
          color: #383838;
          text-transform: uppercase;
        }

        div.links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 25px;

          a.link {
            color: #383838;

            span {
              width: 40px;
              height: 40px;
              border: 2px solid #383838;
              border-radius: 50%;
              font-size: 19px;
              line-height: 38px;
              color: #383838;
              text-align: center;
              @include transition-hover;

              &:hover {
                color: #032970;
                border: 2px solid #032970;
              }
            }
          }
        }
      }
    }

    div.bottom {
      padding-top: 15px;

      p.copyright {
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.5px;
        color: #2b2b2b;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  footer {
    div.container {
      div.center {
        div.links {
          div.links-list {
            &:first-child {
              margin-right: 45px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  footer {
    div.container {
      padding: 55px 50px 41px 55px;
    }
  }
}

@media screen and (max-width: 960px) {
  footer {
    div.container {
      div.center {
        flex-wrap: wrap;

        div.links {
          width: 60%;
        }

        div.contacts {
          margin-bottom: 20px;
        }

        div.social-media {
          max-width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    div.container {
      padding: 55px 10px 41px 10px;

      div.row {
        align-items: center;

        div.column {
          align-items: center;
          text-align: center;
        }
      }

      div.center {
        flex-direction: column;

        div.column {
          width: 100%;
          max-width: 300px;
        }

        div.contacts {
          margin: 45px 0;

          a.log-in-link {
            margin-top: 0;
          }
        }

        div.links {
          flex-direction: column;

          div.links-list {
            &:first-child {
              margin: 0 0 30px 0;
            }

            nav.footer-menu {
              ul {
                li.menu-item {
                  margin-bottom: 30px;

                  a {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 1.88;
                    letter-spacing: 2.29px;
                  }
                }
              }
            }
          }
        }

        div.social-media {
          margin-top: 40px;

          p.title {
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 2.29px;
          }

          div.links {
            width: 200px;
            flex-direction: row;
            margin-top: 20px;
          }
        }
      }

      div.bottom {
        justify-content: center;
        text-align: center;
        padding-top: 41px;

        p.copyright {
          font-size: 16px;
          line-height: 1.13;
          letter-spacing: 0.67px;
        }
      }
    }
  }
}

// CLOSE FOOTER