@import '../mixins';
@import '../variables';


// OUR PHILOSOPHY

section#our-philosophy {
  background-color: #ececec;

  div.container {
    padding: 101px 136px 95px 136px;

    div.row {
      position: relative;

      div.info-block {
        margin-top: 143px;
        z-index: 99;
  
        h2.title {
          font-size: 50px;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: 0.5px;
          margin: 0 0 0 52px;
        }
  
        div.text-block {
          max-width: 679px;
          margin-top: 50px;
          padding: 54px 51px 50px 51px;
          background-color: #ffffff;
  
          p.info-text {
            font-size: 18px;
            line-height: 1.56;
            color: #808080;
            margin-bottom: 35px;
          }
  
          p.info-text.bold {
            font-weight: bold;
            color: #000000;
            margin: 0;
          }
  
          ol.text-list {
            font-size: 18px;
            line-height: 1.56;
            color: #808080;
            padding-left: 32px;
  
            li {
              padding-left: 4px;
  
              p.info-text {
                margin-bottom: 32px;
              }
            }
          }
        }
      }
  
      div.image-block {
        width: 50%;
        max-width: 598px;
        position: absolute;
        right: 0;
  
        img {
          width: 100%;
        }
      }
    }
  }
}

// CLOSE OUR PHILOSOPHY



// VIDEO SECTION

section#video-section {
  div.container {
    padding: 77px 136px 0 136px;
  }

  div.row {
    justify-content: center;

    h2.title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.5px;
      text-align: center;
    }

    div.video {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      width: 100%;
      height: 0;
      margin-top: 39px;
      
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

// CLOSE VIDEO SECTION



// OUR TEAM

section#our-team {
  div.container {
    padding: 90px 136px 90px 136px;

    div.row {
      justify-content: flex-end;
      position: relative;

      div.info-blocks {
        padding-top: 143px;
  
        h2.title {
          font-size: 50px;
          font-weight: bold;
          line-height: 1.2;
          letter-spacing: 0.5px;
          text-align: right;
          margin: 0;
          margin-right: 130px;
        }

        div.image-block {
          width: 50%;
          max-width: 598px;
          position: absolute;
          left: 0;
          top: 0;
    
          img {
            width: 100%;
          }
        }
  
        div.text-block {
          max-width: 679px;
          margin-top: 50px;
          padding: 54px 51px 78px 51px;
          background-color: #ececec;
          position: relative;
          z-index: 99;
  
          p.info-text {
            font-size: 18px;
            line-height: 1.56;
            color: #383838;
          }
  
          p.info-text.bold {
            font-weight: bold;
            color: #000000;
            margin: 0;
          }

          a.link {
            @include standardButton(275px, #383838, #383838, #ffffff);
            display: flex;
            justify-content: center;
            margin-top: 49px;

            &:hover {
              background-color: #24449d;
              border: 1px solid #24449d;
            }

            img {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
}

// CLOSE OUR TEAM



@media screen and (max-width: 1220px) {
  section#our-philosophy {
    div.container {
      padding: 90px 70px 90px 70px;

      div.row {
        div.info-block {
          margin-top: 0;

          h2.title {
            margin: 0;
          }
        }

        div.image-block {
          position: relative;
          margin-top: 110px;
          width: 70%;
        }
      }
    }
  }

  section#video-section {
    div.container {
      padding: 90px 70px 90px 70px;
    }
  }

  section#our-team {
    div.container {
      padding: 90px 70px 90px 70px;

      div.row {
        div.info-blocks {
          padding-top: 0;

          h2.title {
            margin: 0;
          }

          div.blocks {
            display: flex;

            div.image-block {
              position: relative;
              margin-top: 50px;
              width: 80%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  section#our-philosophy {
    div.container {
      div.row {
        flex-direction: column;

        div.image-block {
          width: 100%;
          max-width: 679px;
          margin-top: 0;
        }
      }
    }
  }

  section#our-team {
    div.container {
      div.row {
        flex-direction: column;

        div.info-blocks {
          h2.title {
            text-align: center;
          }
          
          div.blocks {
            display: flex;
            flex-direction: column;
            align-items: center;
  
            div.image-block {
              width: 100%;
              max-width: 679px;
              position: relative;
              margin-top: 50px;

              img {
                display: block;
                height: 100%;
              }
            }
  
            div.text-block {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  section#our-philosophy {
    div.container {
      padding: 60px 16px 68px 16px;

      div.row {
        div.info-block {
          h2.title {
            font-size: 30px;
            font-weight: bold;
            line-height: 1.33;
            letter-spacing: 0.3px;
          }

          div.text-block {
            margin-top: 25px;
            padding: 32px 16px 38px 16px;

            p.info-text {
              font-size: 16px;
              line-height: 1.63;
            }

            ol.text-list {
              font-size: 16px;
              line-height: 1.63;
              padding-left: 18px;
            }
          }
        }
      }
    }
  }

  section#video-section {
    div.container {
      padding: 52px 0 0 0;

      div.row {
        h2.title {
          font-size: 30px;
          line-height: 1.33;
          letter-spacing: 0.3px;
        }

        div.video {
          margin-top: 20px;
        }
      }
    }
  }

  section#our-team {
    div.container {
      padding: 56px 0 0 0;

      div.row {
        div.info-blocks {
          padding-bottom: 35px;

          h2.title {
            font-size: 30px;
            line-height: 1.33;
            letter-spacing: 0.3px;
            text-align: left;
            padding: 0 16px;
          }
          
          div.blocks {
            div.image-block {
              margin-top: 20px;
            }

            div.text-block {
              padding: 21px 16px 35px 16px;

              p.info-text {
                font-size: 16px;
                line-height: 1.63;
              }

              a.link {
                margin-top: 30px;
              }
            }
          }
        }
      }
    }
  }
}