@import '../mixins';
@import '../variables';


// CONTACTS

section#contacts {
  div.container {
    padding: 101px 26px 95px 180px;

    h2.title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: 0.5px;
    }

    div.contacts-info {
      justify-content: flex-start;
      margin-top: 69px;

      div.column {
        display: flex;
        flex-direction: column;

        &.select-block {
          width: 300px;
          margin-right: 77px;

          p.title-block {
            font-size: 16px;
            line-height: 1.38;
            color: #383838;
            opacity: 0.8;
          }

          div.select-wrapper {
            position: relative;

            select#select-country {
              width: 100%;
              background-color: transparent;
              border: 0;
              border-bottom: 1px solid rgba(56,56,56,0.8);
              appearance: none;
              margin-top: 14px;
              padding: 0 0 13px 14px;
              font-size: 18px;
              font-weight: bold;
              line-height: 1.44;
            }
  
            &:before {
              content: '';
              display: block;
              background: url(../../img/icons/filter-arrow.svg);
              transform: rotate(180deg);
              width: 20px;
              height: 10px;
              position: absolute;
              bottom: 21px;
              right: 6px;
              pointer-events: none;
            }
          }
        }

        &.address-block {
          width: 350px;
          margin-right: 95px;

          p.title-block {
            font-size: 18px;
            font-weight: bold;
            line-height: 1.44;
            color: #050a1a;
          }

          p.text-info {
            font-size: 18px;
            line-height: 1.44;
            color: #383838;
            margin: 12px 0 25px 0;
          }

          a.send-message {
            @include standardButton(208px, #383838, #383838, #ffffff);

            &:hover {
              background-color: #24449d;
              border: 1px solid #24449d;
              color: #ffffff;
            }
          }
        }

        &.contact-block {
          width: 347px;

          div.info-block {
            display: flex;
            align-items: center;
            margin-bottom: 21px;

            &:last-child {
              margin-bottom: 0;
            }

            img.icon {
              width: 25px;
            }

            p.text-info {
              font-size: 18px;
              line-height: 1.44;
              color: #050a1a;
              margin-left: 28px;
            }
          }
        }
      }
    }
  }
}

// CLOSE CONTACTS



// LINKS SECTION

section#links-section {
  background-color: #f3f4f5;

  div.container {
    padding: 39px 153px 39px 119px;

    div.row {
      align-items: center;
      justify-content: flex-start;

      p.title {
        font-size: 20px;
        font-weight: 600;
        line-height: 1.5;
        margin-right: 30px;
      }

      div.links-block {
        display: flex;

        a.link {
          display: block;
          width: 190px;
          background-color: #ffffff;
          margin-right: 10px;
          padding: 11px 11px 11px 12px;
          font-size: 14px;
          font-weight: 600;
          line-height: 1.43;
          letter-spacing: 1px;
          text-align: center;
          text-transform: uppercase;
          text-decoration: none;
          color: #383838;
          @include transition-hover;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            background-color: #24449d;
            color: #ffffff;
          }
        }
      }
    }
  }
}

// CLOSE LINKS SECTION



// EXPERTS

section#experts {
  div.container {
    padding: 95px 155px;

    h3.title {
      font-size: 30px;
      font-weight: 600;
      line-height: 1.33;
      margin-left: 25px;
    }

    div.experts-blocks {
      flex-direction: column;
      margin-top: 54px;

      div.titles-block {
        display: flex;
        margin-bottom: 21px;
        padding-left: 160px;

        p.title {
          width: 172px;
          font-size: 12px;
          font-weight: bold;
          line-height: 1.67;
          letter-spacing: 0.5px;
          color: #383838;
  
          &:nth-child(1) { margin-right: 56px; }
          &:nth-child(2) { margin-right: 58px; }
          &:nth-child(3) { margin-right: 61px; }
          &:nth-child(4) { margin-right: 42px; }

          &:last-child {
            width: auto;
          }
        }
      }

      div.expert-block {
        display: flex;
        align-items: center;
        position: relative;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0;
        }

        img.expert-photo {
          width: 120px;
          z-index: 2;
        }

        div.expert-info {
          display: flex;
          align-items: center;
          width: 1057px;
          background-color: #f3f4f5;
          padding: 33px 40px 33px 87px;
          position: absolute;
          right: 0;
          z-index: 1;

          p.text-info {
            width: 172px;
            font-size: 18px;
            line-height: 1.44;
            color: #050a1a;

            &.expert-name {
              font-weight: bold;
            }
    
            &:nth-child(1) { margin-right: 56px; }
            &:nth-child(2) { margin-right: 58px; }
            &:nth-child(3) { margin-right: 61px; }
            &:nth-child(4) { margin-right: 42px; }
          }
        }
      }
    }
  }
}

// CLOSE EXPERTS