@import '../mixins';
@import '../variables';

// PRODUCTS

section#products {
  div.container {
    display: flex;
    justify-content: flex-start;
    
    div.filter {
      width: 346px;
      padding: 39px 50px 10px 50px;
      background-color: #f3f4f5;

      div.row {
        flex-direction: column;
        padding-bottom: 29px;

        &:last-child {
          border-bottom: 0;
        }

        p.filter-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          letter-spacing: 0.5px;
          color: #383838;
        }

        button.filter-clear {
          font-size: 14px;
          letter-spacing: 1px;
          color: #383838;
          background-color: transparent;
          border: 0;
          text-decoration: underline;
          cursor: pointer;
          @include transition-hover;
  
          &:hover {
            color: #24449d;
          }
        }

        div.title-block {
          display: flex;
          justify-content: space-between;
          width: 100%;

          button.hide-filter-toggle {
            width: 20px;
            background-color: transparent;
            border: 0;
            cursor: pointer;
            @include transition-hover;
          }
        }

        ul.filter-list {
          margin-top: 18px;
          list-style-type: none;

          li.filter-item {
            display: flex;
            align-items: center;
            margin-bottom: 6px;
            position: relative;

            &:last-child {
              margin-bottom: 0;
            }

            input[type="checkbox"] {
              position: absolute;
              z-index: -1;
              opacity: 0;
              margin: 10px 0 0 20px;

              + label {
                &::before {
                  content: '';
                  width: 13px;
                  height: 13px;
                  background-color: #a3a3a4;
                  position: absolute;
                  top: 3px;
                  left: 0;
                  @include transition-hover;
                }

                &::after {
                  content: '\2713';
                  font-size: 11px;
                  width: 13px;
                  height: 13px;
                  position: absolute;
                  color: #fff;
                  top: 3px;
                  left: 2px;
                  opacity: 0;
                  @include transition-hover;
                }
              }

              &:checked {
                + label {
                  &::before {
                    background-color: #383838;
                  }

                  &::after {
                    opacity: 1;
                  }
                }
              }
            }

            label {
              font-size: 14px;
              letter-spacing: 1px;
              color: #383838;
              padding-left: 21px;
              cursor: pointer;

              span.bold {
                font-weight: bold;
              }
            }

            label#tec {
              &::before {
                background-color: #636363;
              }
            }
            label#com {
              &::before {
                background-color: #599aa9;
              }
            }
            label#lab {
              &::before {
                background-color: #008483;
              }
            }
            label#cem {
              &::before {
                background-color: #1669ad;
              }
            }
            label#pur {
              &::before {
                background-color: #883898;
              }
            }
            label#med {
              &::before {
                background-color: #6bc5d5;
              }
            }
            label#sys {
              &::before {
                background-color: #b0c1e1;
              }
            }
            label#mol {
              &::before {
                background-color: #24449d;
              }
            }
          }
        }

        button.apply-changes {
          @include standardButton(207px, #383838, #383838, #ffffff);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 42px;
          margin: 5px 0 25px 0;
          padding: 0 0 0 25px;

          span.arrow {
            display: block;
            position: relative;
            width: 34px;
            height: 34px;
            border-radius: 50%;
            background-color: #ffffff;
            margin-left: 9px;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 7px;
              width: 20px;
              height: 1px;
              background-color: #383838;
            }

            &::after {
              content: '';
              position: absolute;
              top: 13px;
              right: 8px;
              width: 8px;
              height: 8px;
              border-top: 1px solid #383838;
              border-right: 1px solid #383838;
              transform: rotate(45deg);
            }
          }
        }

        button.close-button {
          display: flex;
          align-items: center;
          background-color: transparent;
          border: 0;
          font-size: 14px;
          font-weight: bold;
          line-height: 0.86;
          letter-spacing: 2.33px;
          text-transform: uppercase;

          img {
            margin-left: 9px;
          }
        }
      }

      div.row.filter-block {
        padding-top: 26px;
        border-top: 1px solid #808080;
      }

      div.row.filter-block.hidden-block {
        button.hide-filter-toggle {
          transform: rotate(-180deg);
        }
        ul.filter-list {
          display: none;
        }
      }

      div.row.mobile-buttons {
        display: none;
        flex-direction: column;
        align-items: center;
      }
    }

    div.products-catalog {
      width: 100%;
      max-width: 1094px;
      padding: 18px 48px 68px 31px;
      
      div.search-input {
        input[type="text"] {
          width: 100%;
          background-color: #f3f4f5;
          border: 0;
          padding: 17px 19px;
          font-size: 16px;
          line-height: 1.63;

          &::placeholder {
            font-size: 16px;
            font-weight: 600;
            line-height: 1.63;
            color: #383838;
          }
        }

        span.magnifying-glass {
          width: 60px;
          height: 60px;
          background-color: #002570;
          padding: 17px;

          img {
            width: 26px;
          }
        }
      }

      div.search-controls {
        justify-content: flex-start;
        align-items: center;
        padding: 48px 0;

        p.filter-title {
          font-size: 16px;
          font-weight: bold;
          line-height: 1.25;
          letter-spacing: 0.5px;
          color: #383838;
          margin-right: 18px;
        }

        button.filter-clear {
          font-size: 14px;
          letter-spacing: 1px;
          color: #383838;
          background-color: transparent;
          border: 0;
          text-decoration: underline;
          margin-left: 10px;
          cursor: pointer;
          @include transition-hover;
  
          &:hover {
            color: #24449d;
          }
        }

        div.filter-tag {
          display: flex;
          align-items: center;
          background-color: #f3f4f5;
          padding: 5px 6px 5px 3px;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }

          p.tag-name {
            font-size: 11px;
            line-height: 1;
            letter-spacing: 0.5px;
            color: #383838;
          }

          button.tag-close {
            width: 9px;
            height: 9px;
            background-color: transparent;
            border: 0;
            margin-left: 5px;
            cursor: pointer;
            display: flex;

            img {
              width: 100%;
            }
          }
        }

        button#show-filter {
          display: none;
          background-color: transparent;
          border: 0;
          font-size: 14px;
          line-height: 1.29;
          letter-spacing: 1px;
          color: #383838;
          white-space: pre-wrap;
        }

        div.title-block {
          button.filter-clear {
            display: none;
          }
        }
      }

      div.catalog-list {
        flex-direction: column;

        div.find-count {
          p {
            font-size: 12px;
            line-height: 1.67;
            letter-spacing: 0.5px;
            color: #383838;

            span.bold {
              font-weight: bold;
              margin-bottom: 14px;
            }
          }
        }

        div.products {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          div.product-wrapper {
            width: 24.5%;
            max-width: 238px;
            margin-bottom: 21px;
  
            div.image-block {
              padding: 32px 28px;

              img.product-image {
                width: 100%;
                max-height: 100%;
              }
            }

            div.info-block {
              display: flex;
              flex-direction: column;
              width: 100%;
              background-color: #f3f4f5;
              padding: 12px 11px 18px 10px;

              p.product-range {
                font-size: 12px;
                line-height: 1.67;
                letter-spacing: 2.57px;
                color: #383838;
                text-transform: uppercase;
              }

              a.product-name {
                font-size: 18px;
                font-weight: 600;
                line-height: 1.33;
                text-decoration: none;
                color: #000000;

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      div.catalog-pagination {
        justify-content: center;
        margin-top: 56px;

        ul.pagination-list {
          display: flex;
          justify-content: flex-end;
          width: 340px;
          list-style-type: none;
          
          li {
            font-size: 12px;
            line-height: 1.67;
            color: #002570;

            a.page-link {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              text-decoration: none;
              color: #002570;

              &:hover {
                text-decoration: underline;

                > img {
                  margin-top: 3px;
                  padding-bottom: 1px;
                  border-bottom: 1px solid #002570;
                }
              }
            }

            a.page-link.active {
              border: 1px solid #002570;
              border-radius: 50%;
            }

            span.dots {
              display: block;
              width: 30px;
              margin-top: 5px;
              text-align: center;
            }

            &:last-child {
              a.page-link {
                justify-content: flex-start;
                width: 10px;
              }
            }
          }
        }
      } 
    }
  }
}

@media screen and (max-width: 1220px) {
  section#products {
    div.container {
      div.products-catalog {
        div.catalog-list {
          div.products {
            div.product-wrapper {
              width: 32%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  section#products {
    div.container {
      div.filter {
        padding: 39px 20px 10px 20px;
      }

      div.products-catalog {
        div.catalog-list {
          div.products {
            justify-content: space-around;

            div.product-wrapper {
              width: 48%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  section#products {
    position: inherit;

    div.container {
      div.filter {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        height: 100%;
        left: -100%;
        transition: left 0.25s;
        padding: 39px 37px 31px 37px ;

        div.row {
          p.filter-title {
            font-size: 14px;
            line-height: 1.29;
            letter-spacing: 0.5px;
          }

          button.filter-clear {
            line-height: 1.29;
            letter-spacing: 0.5px;
          }
        }

        div.row.filter-block {
          padding: 27px 0 23px 0;
        }

        div.row.mobile-buttons {
          display: flex;
        }

        div.filter-list {
          height: calc(100vh - 200px);
          overflow-y: scroll;;
        }
      }

      div.filter.opened {
        left: 0;
      }

      div.products-catalog {
        div.search-controls {
          flex-direction: column;
          align-items: flex-start;
          padding: 32px 0 42px 0;

          button.filter-clear.desktop-button {
            display: none;
          }

          div.title-block {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 320px;
            margin-bottom: 15px;

            button.filter-clear {
              display: block;
            }
          }

          div.filter-tag {
            margin: 0 0 10px 0;
          }

          button#show-filter {
            display: block;
            margin-top: 4px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  section#products {
    div.container {
      div.products-catalog {
        padding: 35px 16px 50px 16px;

        div.search-input {
          input[type=text] {
            padding: 22px 15px 20px 15px;
            font-size: 14px;
            line-height: 1.29;
          }
        }

        div.catalog-list {
          div.find-count {
            text-align: center;
            margin-bottom: 21px;
          }

          div.products {
            div.product-wrapper {
              display: flex;
              width: 100%;
              max-width: 100%;
              margin-bottom: 10px;

              div.image-block {
                width: 110px;
                min-width: 110px;
                max-height: 100px;
                padding: 10px 13px;

                img.product-image {
                  max-width: 84px;
                }
              }

              div.info-block {
                padding: 18px 10px;

                p.product-range {
                  font-size: 10px;
                  line-height: 2;
                  letter-spacing: 2.14px;
                }

                a.product-name {
                  font-size: 14px;
                  line-height: 1.43;
                }
              }
            }
          }
        }

        div.catalog-pagination {
          margin-top: 25px;

          ul.pagination-list {
            justify-content: center;
            
            li {
              a.page-link.desktop-link, 
              span.dots.desktop-link {
                display: none;
              }
              a.page-link {
                &:last-child {
                  justify-content: center;
                  width: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// CLOSE PRODUCTS



// CONTACT US

section#contact-us {
  background-color: #002570;

  div.container {
    padding: 70px 10px;

    div.row {
      justify-content: center;
      align-items: center;

      p.title {
        font-size: 28px;
        line-height: 1.21;
        color: #ffffff;
        text-align: center;
        margin-right: 64px;

        span.bold {
          font-weight: bold;
        }
      }

      a.contact-link {
        @include standardButton(213px, #ffffff, #ffffff, #002570);

        &:hover {
          background-color: #002570;
          color: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 870px) {
  section#contact-us {
    background-color: #002570;
  
    div.container {
      padding: 70px 10px;
  
      div.row {
        flex-direction: column;

        p.title {
          margin: 0;
        }

        a.contact-link {
          margin-top: 27px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  section#contact-us {
    div.container {
      padding: 74px 16px;

      div.row {
        p.title {
          font-size: 22px;
          line-height: 1.36;
        }

        a.contact-link {
          width: 226px;
        }
      }
    }
  }
}

// CLOSE CONTACT US