@import '../mixins';
@import '../variables';



// EXHIBITIONS

section#exhibitions {
  div.container {
    padding: 106px 180px 85px 180px;

    div.title-block {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 739px;
      margin-bottom: 59px;

      h2.title {
        font-size: 50px;
        font-weight: bold;
        line-height: 1.2;
        letter-spacing: 0.5px;
        margin-bottom: 21px;
      }

      div.links {
        display: flex;
        align-items: center;

        p.links-title {
          font-size: 14px;
          font-weight: bold;
          line-height: 1.57;
          letter-spacing: 2px;
          text-transform: uppercase;
          margin-right: 20px;
        }

        div.links-list {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a.link {
            color: $blackColor;
            margin-right: 15px;

            &:last-child {
              margin-right: 0;
            }
            
            span {
              width: 40px;
              height: 40px;
              border: 2px solid $blackColor;
              border-radius: 50%;
              font-size: 19px;
              line-height: 38px;
              color: $blackColor;
              text-align: center;
              @include transition-hover;

              &:hover {
                color: #032970;
                border: 2px solid #032970;
              }
            }
          }
        }
      }
    }

    div.blocks {
      display: flex;
      flex-wrap: wrap;
      margin-top: 41px;

      div.block {
        width: 32.5%;
        max-width: 346px;
        margin-bottom: 21px;

        div.img-block {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 194px;
          border: 3px solid #f3f4f5;
          padding: 20px;

          img {
            max-width: 100%;
          }
        }

        div.info-block {
          padding: 25px 18px 37px 18px;

          p.date {
            font-weight: 600;
            line-height: 1.38;
          }
          p.title {
            font-size: 25px;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 25px;
          }
          p.location {
            font-weight: 600;
            line-height: 1.38;
          }
          p.info-text {
            line-height: 1.38;
            margin-top: 25px;
            max-height: 70px;
            overflow: hidden;
            color: $blackColor;
          }

          a.exhibition-button {
            @include standardButton(224px, $blackColor, $blackColor, #ffffff);
            margin-top: 25px;

            &:hover {
              background-color: #24449d;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  section#exhibitions {
    div.container {
      padding: 50px;
    }
  }
}

@media screen and (max-width: 900px) {
  section#exhibitions {
    div.container {
      padding: 59px 16px 35px 16px;

      div.blocks {
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 3px;

        div.block {
          width: 49%;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  section#exhibitions {
    div.container {
      padding-bottom: 20px;

      div.title-block {
        h2.title {
          font-size: 30px;
          line-height: 1.33;
          letter-spacing: 0.3px;
          margin-bottom: 24px;
        }

        div.links {
          flex-direction: column;
          align-items: flex-start;

          p.links-title {
            font-size: 14px;
            line-height: 1.57;
            letter-spacing: 2px;
            margin: 0 0 16px 0;
          }
        }
      }

      div.blocks {
        div.block {
          width: 100%;
          margin-bottom: 25px;

          &:last-child {
            margin-bottom: 0;
          }

          div.info-block {
            background-color: #f3f4f5;
            padding: 19px 11px 25px 11px;

            p.date {
              font-size: 14px;
              line-height: 1.43;
            }
            p.title {
              font-size: 22px;
              line-height: 1.45;
              margin-bottom: 14px;
            }
            p.location {
              font-size: 14px;
              line-height: 1.43;
            }
            p.info-text {
              font-size: 14px;
              line-height: 1.43;
            }

            a.exhibition-button {
              margin-top: 14px;
            }
          }
        }
      }
    }
  }
}

// CLOSE EXHIBITIONS